<form id="addEditItems">
    <input type="text" id="title" placeholder="Title">
    <br/>
    <input type="text" id="url" placeholder="www.example.com (no http://)">
    <br/>
    <textarea name="description" id="description" form="addEditItems" placeholder="Description"></textarea>
    <br/>
</form>
