<ul class="main-nav">
    <% for (var loc = 0; loc < categories.length; loc++){ %>
    	<li class="icon">
			<a href="#<%= categories[loc].toLowerCase() %>" class="front">
	            <img src="<%= frontImages[loc] %>">
	        </a>
	        <a href="#<%= categories[loc].toLowerCase() %>" class="back <%= categories[loc].toLowerCase() %>">
	            <img src="<%= backImages[loc] %>">
	        </a>
    	</li>
    <% } %>
</ul>