<ul>
	<a href="#all"><li>All</li></a>
	<a href="#planning"><li>Planning</li></a>
	<a href="#polish"><li>Polish</li></a>
	<a href="#code"><li>Code</li></a>
	<a href="#release"><li>Release</li></a>
	<a href="#upkeep"><li>Upkeep</li></a>
	<a href="#add"><li>+ Add</li></a>
</ul>