<!--<div class="content" id=<%= id %>>-->
	<form id=<%= id %>form>
		<div class="toolname"><input type="text" name="toolname_edit" value="<%= name %>"></div>
		<div class="category"><input type="text" name="category_edit" value="<%= category %>"></div>
		<div class="tags"><input type="text" name="tags_edit" value="<%= tags %>"></div>
		<div class="karmic"><input type="text" name="karmic_edit" value="<%= karmic %>"></div>
		<div class="platform"><input type="text" name="platform_edit" value="<%= platform %>"></div>
		<div class="save"><input type="submit" value="Save"></div>
	</form>
<!--</div>-->