<div class="content" id="<%= id %>">
    <a href="http://<%= website %>"><div class="toolname"><p><%= name %></p></div></a>
    <div class="category"><p><%= category %> > <%= subcategory %></p></div>
    <div class="tags"><a id='tags' href="#<%= category.replace(' ', '_').toLowerCase() %>/<%= subcategory.replace(' ', '_').toLowerCase() %>/<%= _.each(tags, function(tag) { return tag.replace(' ', '_').toLowerCase(); }) %>"><p><%= tags %></p></a></div>
    <div class="karmic"><p><%= karmic %></p></div>
    <div class="platform"><p><%= platform %></p></div>
    <!--<div class="edit"><a href = "#edit/<%= id %>"><p>Edit</p></a></div>-->
</div>