<div class="content">
	<a href="http://<%= attributes.website %>"><div class="toolname"><p><%= attributes.name %></p></div></a>
	<div class="category"><p><%= attributes.category %></p></div>
	<div class="tags"><p><%= attributes.tags %></p></div>
	<div class="karmic"><p><%= attributes.karmic %></p></div>
	<div class="platform"><p><%= attributes.platform %></p></div>
	<div class="edit"><a href = "#edit/<%= id %>"><p>Edit</p></a></div>
</div>
