<div class="content" id=<%= id %>>
	<a href="http://<%= website %>"><div class="toolname"><p><%= name %></p></div></a>
	<div class="category"><p><%= category %></p></div>
	<div class="tags"><p><%= tags %></p></div>
	<div class="karmic"><p><%= karmic %></p></div>
	<div class="platform"><p><%= platform %></p></div>
	<div class="edit"><a href = "#edit/<%= id %>"><p>Edit</p></a></div>
</div>
